<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.gmall.manage.mapper.PmsSkuInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, price, sku_name, sku_desc, weight, tm_id, catalog3_id, sku_default_img
    </sql>

</mapper>
